/* Just basic meta visuals settings */
body {
    font-family: monospace;
    line-height: 1;
    font-size: clamp(1.5rem, 2.4vw, 2.8rem); /*  font-size: 25px; */
    text-align: center;
    margin-top: 7.5%;
    background-color:#000000;
    color: #f3f3f3;
  }
  #clock {
    font-family: monospace;
    font-size: 3em;
    font-weight: normal;
    color: #ff0000;
  }

  /* Extra for structure */
/* each . is class of html */
  .countdown {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: baseline;
  gap: clamp(1rem, 4vw, 3rem);
  justify-content: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: clamp(2rem, 6vw, 6rem);  /* clamp is for size to shrink if needed */
  color: #ff0000;
  line-height: 1;
}

.label {
  font-size: clamp(0.75rem, 2vw, 2rem); /* min, preferred, max */
  font-weight: bold;
  margin-top: 1.75rem;
}

.sep {
  font-size: clamp(1.5rem, 6vw, 6rem);
  line-height: 1;
  margin-top: 0.2em;
  margin: 0 -0.9rem; /*this gets separator closer together with numbers */
  color: #ff0000;
}

/* EVENTS */
.event {
  /* Style the container */
  margin-bottom: 5px;
  padding: 15px;
}

.event-label {
  /* Style the p */
  color: #f3f3f3;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 25px;
}

.event-label::before {
  content: "- ";
}

.event-date {
  /* Style the small */
  color: gray;
  font-size: 12px;
}


/* Subscribe */

.newsletter p {
  font-size: 20px;  /* or whatever size you want */
}





/* DANGER MODE */
.danger-warning {
  position: fixed;
  inset: 0;
  background: black;
  color: red;

  display: flex !important;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  font-size: clamp(2.5rem, 8vw, 4rem);
  font-weight: bold;
  text-align: center;
  z-index: 9999;

  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0.85;
  }
}

.danger-section p {
  font-size: 12.5px;  /* or whatever size you want */
}


